input.text { margin-bottom:12px; width:95%; padding: .2em .4em;  font-size: .9em;}
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.ui-dialog label{width: 33%; font-size: .75em; }
.ui-dialog input{width: 65% !important;}

.ui-dialog label, .ui-dialog input { display:inline-table;}


.table{
    /*overflow: scroll; /* Scrollbar are always visible */
    /*overflow: auto;   /* Scrollbar is displayed as it's needed */
    width: 99%;
}

.table thead th{
    text-transform:capitalize;
    cursor: pointer;
}
.table tbody td{
    border: dotted #f2dede 1px;
}

.table tbody td:not(.horas, .table-list):hover{
    cursor: pointer;
    /*background-color: #b3c5ba;*/
    background-color: #ff8300;

    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.table tbody td.green:hover{
    background-color: #4bbc58;

    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bgoverlay.png');
    z-index: 10000;
    text-align:center;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#overlay img {
    display:block;
    margin:auto;
    top: 50%;
    position:absolute;
    text-align:center;
    left: 50%;

    -moz-opacity:1;
    -khtml-opacity:1;

    animation: blink 1.25s;
    animation-iteration-count: infinite;
}

#current_day{
    display: none;
}

.table tbody td.green{
    background-color: #83f27e;
}


.table-list tbody tr:hover{
    cursor: pointer;
    background-color: #ffe16d;
    -webkit-transition: background-color 350ms linear;
    -moz-transition: background-color 350ms linear;
    -o-transition: background-color 350ms linear;
    -ms-transition: background-color 350ms linear;
    transition: background-color 350ms linear;
}

.dia-selected{
    background-color: #4686ba;
}

.nodisponible{
    background-color: #a6a6a6;
}

#onemore{
    float: right;
}
#onemore:disabled{
    cursor: wait;
}
#oneless{
    float: left;
}
#oneless:disabled{
    cursor: wait;
}
#datepicker{
    width: 150px;
    margin: 0 auto;
    text-align: left;
}

#controles{
    text-align: center;
}
.horas{
    width: 90px;
}

.horas, th {
    white-space: nowrap;
    font-size: 12px;
}

label.error{
    display: block;
    color: #761c19;
    width: 100%;
    text-align: right;
    margin-top: -6px;
    padding: .1em .4em .1em .2em;
}

@media screen and (max-width: 767px){
    .ui-dialog  label, .ui-dialog  input { display:block !important; width: 100% !important;}
    .ui-dialog{
        z-index: 100 !important;
        width: 100% !important;
        top: 50px !important;
    }

    .ui-dialog .text:nth-of-type(6), .ui-dialog .text:nth-of-type(7){
        width: 50% !important;
        display:inline-table !important;
    }
    #overlay img {
        left: 38%;
        top: 45%;
    }

}

.pagination{
    margin: 0;
    padding: 0;
}
.panel-pagination{
    text-align: center;
}
.panel-pagination nav {
    margin: 0;
    padding: 0;
    height: 36px;
}

.panel-pagination .input-group{
  /*display: inline;*/
    width: 70%;
    margin: 0 auto 10px auto;
}

.panel-body h3{
    padding: 15px 0;
    margin: 0;
}

.panel-body .btn-group{
    margin: 15px 0;
}

.ui-widget-header{
    background-color: #005F9F;
    color: #fff;
}

.ui-widget-header .ui-button{
    background-color: #fff !important;
    color: #005F9F;
}
.ui-button:active{
    border: solid 1px #003353;
    background-color: #005F9F;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover{
    background-color: #0068ab;
    border: solid 1px #005F9F;
    margin-top: 1px;
    margin-right: 1px;
}

body{
    background-color: #005F9F;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
    padding-top: 70px;
}

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:20px;
    color: #fff;
}

.footer .container-footer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer .col-md-12{
    /*background-color: #fff;*/
    /*height: 50px;
    padding-top: 15px;*/
}

@media (min-width: 768px) {
    .container-footer {
        width: 720px;
    }
}

@media (min-width: 992px){
    .container-footer {
        width: 940px;
    }
}

@media (min-width: 1200px){
    .container-footer {
        width: 1140px;
    }
}