
.table{
    overflow: scroll; /* Scrollbar are always visible */
    overflow: auto;   /* Scrollbar is displayed as it's needed */
}

.table tbody td{

}

.table tbody td:not(.horas):hover{
    cursor: pointer;
    background-color: #b3c5ba;

    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.table tbody td.green:hover{
    background-color: #4bbc58;

    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.table tbody td.green{
    background-color: #83f27e;
}